
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

body {
    font-family: 'Fjalla', Arial, sans-serif;
    margin: 20px;
    background-color: #74c2b3;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}